.top {
    height: 200px;
    margin: -32px -10px 0 -10px;
    background-color: darkolivegreen;
}

.headline {
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
}

.centre {
    margin: -32px -10px 0 -10px;
    background-color: tomato;
    height: 500px;
}

.construction {
    text-align: center;
    color: red;
}

.construction:hover {
    color: magenta;
}

.bottom {
    background-color: sandybrown;
    margin: -32px -10px 0 -10px;
    height:200px;
}

.footline {
    text-align: center;
    color: green;
}

.footline:hover {
    color: darkblue;
}
