.headline {
    text-align: center;
    color: darkblue;
}

.construction {
    text-align: center;
    color: red;
    height: 600px;
}

.construction:hover {
    color: magenta;
}

.footline {
    text-align: center;
    color: green;
}

.footline:hover {
    color: darkblue;
}
